{% extends "base.html" %}
{% block main %}
	
	<head>
     	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">      
    	<link rel="stylesheet" type="text/css" href="../static/css/app.css">
      	<title>Contact</title>
    </head>

  <body>
    <h1> Contact Form </h1>
      <div id="section1"> </div>

    <form action="{{ url_for('contact')}}" method="post">

      <br><p>Fill in this form to contact the site owners. </p>
      <div>
      	{{ form.csrf_token }}
        <!--<label for="name"> Name <p id="required">(Required)</p></label>-->
        {{ form.name.label }} <p id="required">(Required)</p><br>
		{{ form.name(size=20) }}
        <p id="prompt">Please enter your full name </p>
      </div>
      <div>
      	{{ form.email.label }}<p id="required">(Required)</p><br>
      	{{ form.email(size=20) }}
        <p id="prompt">Please enter your e-mail address </p>
      </div>
      <div>
        {{ form.subject.label }} <p id="required">(Required)</p><br>
        {{ form.subject(size=20) }}
        <p id="prompt">Please enter the subject for your message.</p>
      </div>
      <div>
        {{ form.message.label }} <p id="required">(Required)</p><br>
        <p id="prompt">Please enter the message you would like to send.</p>
        <textarea id="msg" name="message"></textarea>
      </div>
      <button class="button" type="submit">Send</button>
    </form>
    </body>

{% endblock %}